body {
  margin: 0;
  background-color: #1e1e1e; /* fondo oscuro general */
  font-family: 'Montserrat', sans-serif;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
